* {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  vertical-align: top;
}
body {
  font-size: 14px;
  font-family: "微软雅黑";
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.top {
  height: 106px;
  background: url(./imgs/头_02.jpg);
  max-width: 1920px;
}
.top > div {
  width: 1200px;
  margin: 0 auto;
}
.top .logo {
  padding: 10px;
}
.top .fr ul {
  display: flex;
  /* flex-direction: row-reverse; */
}
.top .nav > ul > li {
  /* float: left; */
  position: relative;
}
.top .nav > ul > li > a {
  display: block;
  width: 98px;
  height: 106px;
  line-height: 106px;
  text-align: center;
  color: black;
}
.top .nav > ul > li > span {
  display: block;
  width: 1px;
  height: 14px;
  background-color: #ccc;
  margin: 46px 0;
}
.top .nav > ul > li > a:hover {
  background-color: rgba(6, 107, 179);
  color: white;
}
.top .nav > ul > li > ul{
    background-color: rgba(4,84,143);
    color: white;
    text-align: center;
    display: none;
    position: absolute;
    width: 98px;
    z-index: 2;
}
.top .nav > ul > li > ul a{
    display: block;
    height: 30px;
    line-height: 30px;
    color: white;
}
.top .nav > ul > li:hover > ul{
    display: block;
}
.top .nav > ul > li > ul a:hover{
    background-color: rgba(56,137,193);
}
.top .nav > ul >li >ul li{
    height: 30px;
}


.news_banner{
    height: 268px;
    background: url(./imgs/新闻动态_02.jpg) no-repeat center;
}



.main {
    width: 1024px;
    margin: 15px auto;
    display: flex;
}

.left {
    width: 182px;
    /* float: left; */
}

.right {
    width: 842px;
    /* float: right; */
}

.left div:nth-child(1) {
    background-color: #207bbb;
    text-align: center;
    font-size: 24px;
    font-family: '微软雅黑';
    color: white;
    padding: 15px;
}

.left div:nth-child(2) ul:nth-child(1) {
    /* list-style: none; */
    /* margin: 0;
    padding: 0; */
    text-align: center;
    background-color: #f0f0f0;
    margin: 8px 0 ;
}
.left div:nth-child(2) ul:nth-child(1) li{
  height: 48px;
  line-height: 48px;
  font-size: 16px;
}

/* 鼠标放在li元素上时背景颜色变化 */
.left li:hover{
    background-color: rgba(78,159,226);
    /* cursor: pointer; */
}

/* 鼠标放在li元素上时a标签的文字颜色变化 */
.left li:hover a{
    color: white;
    /* cursor: pointer; */
}

.main > .left .l1 > li {
    border-bottom: 1px solid #ccc;

}

.a1 {
    /* text-decoration: none; */
    color: black;
    width: 150px;
}

.main .left div:nth-of-type(2) > a img{
  margin-top: 5px;
}

/* .right div:nth-of-type(2) li:hover{
    background-color: #207bbb;
} */
.right{
  margin-left: 15px;
}

.right div:nth-of-type(1) {
    font-size: 13px;
    line-height: 20px;
    background: url(../img/bg4.png) no-repeat left 1px;
    background-size: 13px;
    padding-left: 15px;
    border-bottom: solid 1px;
}

.right div:nth-of-type(1) a:nth-of-type(1) {
    float: right;
    /* text-decoration: none; */
}

.right div:nth-of-type(2) ul:nth-of-type(1) {
    /* list-style: none; */
    line-height: 48px;
    padding: 0;
    margin-top: 10px;

}

.right div:nth-of-type(2) ul:nth-of-type(1)>li {
    border-bottom: 1px #ccc dashed;
}

.a2 {
    /* text-decoration: none; */
    color: black;
}

.sp2 {
    float: right;
}

.right div:nth-of-type(3) ul:nth-child(1) {
    /* list-style: none; */
    text-align: center;
    line-height: 15px;
}

.l2 {
    display: inline-block;
}

.l2:hover a{
    background-color: #207bbb;
    color:white;
}
.right div:nth-of-type(3) ul li:nth-of-type(1) a{
  background-color: #207bbb;
    color:white;
}

.a3 {
    display: block;
    /* border: 1px solid #ccc; */
    /* text-decoration: none; */
    /* padding: 2px 4px; */
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: rgba(246,246,246);
    color: black;
}

.right div:nth-of-type(3) li:nth-of-type(1) a{
    border: 0;
}

.right div:nth-of-type(3) {
    margin-top: 30px;
}

.bottom{
  max-width: 1920px;
}
.main ::after{
  content: "";
  clear: both;
}
.bottom div:nth-of-type(1){
background-color: #207bbb;
}
.bottom div:nth-of-type(1) ul {
  width: 1080px;
  margin: auto;
  height: 30px;
  
  display: flex;
  line-height: 30px;
}
.bottom div:nth-of-type(1) a{
  color: #ccc;
  margin: 5px;
}
.bottom div:nth-of-type(1) span{
  display: block;
  margin: 8px 0;
  width: 1px;
  height: 14px;
  background-color: #ccc;
}
.bottom div:nth-of-type(2){
background-color: rgba(243,242,242);
}
.bottom div:nth-of-type(2) ul {
  width: 1080px;
  margin: auto;
  height: 30px;
  
  display: flex;
  line-height: 30px;
}
.bottom div:nth-of-type(2) a{
  margin: 10px;
}
.bottom div:nth-of-type(2) span{
  display: block;
  margin: 8px 0;
  width: 1px;
  height: 14px;
  background-color: #ccc;
}