* {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  vertical-align: top;
}
body {
  font-size: 14px;
  font-family: "微软雅黑";
}


.fl{
    float: left;
}

.fr{
    float: right;
}
.main .top{
    max-width: 1920px;
    margin: 0 auto;
    height: 102px;
    background-color: rgb(25,25,25);
}
.main .top >div{
    width: 1121px;
    margin: 0 auto  ;
}

.main .top .nav{
    width: 852px;
    /* margin-left: 104px; */
    /* display: inline-block; */
    /* width: 500px; */
    /* margin:0 167px 0 102px; */
}
.main .top .nav ul{
    
    display: flex;
    /* justify-content: space-between; */
}
.main .top .nav ul a{
    text-align: center;
    display: block;
    color: rgb(204,204,204);
    line-height: 102px;
    width: 85px;
}
.main .top .nav ul li:hover a{
    background-color: rgb(38,38,38);
}


.main .banner{
    height: 268px;
    background: url(./imgs/HONGZHUANG_banner_02.jpg) no-repeat center;
}
.main .detail{
    width: 1121px;
    margin: 0 auto;
    position: relative;
}
.main .detail_left{
    position: absolute;
    top:-84px;
}
.main .detail_right{
    width: 863px;
}
.main .detail_right div:nth-of-type(1){
    border-bottom: 1px solid rgb(204,204,204);
}
.main .detail_right div:nth-of-type(1 ) span:nth-of-type(1){
    font-size: 36px;
}
.main .detail_right > div span:nth-of-type(2){
    margin-top: 24px;
    color: rgb(153,153,153)
}
.main .detail_right span:nth-of-type(2) a{
     color: rgb(153,153,153)
}

/* .main .detail_right > div:nth-of-type(2){
    height: 450px;
    border-bottom: 1px solid rgb(204,204,204);
    display: flex;
} */
.main .detail_right div:nth-of-type(2) img{
    margin-top: 56px;
    border: 1px solid rgb(153,153,153);
}
/* .fr::after{
    content: '';
    clear: both;
} */
.main .detail .detail_right .info{
    float: left;
}
.main .detail .detail_right .info .fr{
    width:550px ;
    margin: 20px;
    line-height: 32px;
}
.main .detail .detail_right .info .fr p:nth-of-type(1) span:nth-of-type(1){
    font-size: 32px;
}
.main .detail .detail_right .info .fr p:nth-of-type(1){
    margin-top: 60px;
}
.main .detail .detail_right .fr .b1{
    background: url(./imgs/HONGZHUANG_p3.png) no-repeat 5px center;
    margin-left: 100px;
}
.main .detail .detail_right .fr .b2{
    background: url(./imgs/HONGZHUANG_p4.png) no-repeat 5px center;
}
.main .detail .detail_right .fr .button{
    font-size: 18px;
    line-height: 48px;
    display: inline-block;
    color: rgb(237,33,36);
    background-color: rgb(247,247,247);
    height: 48px;
    padding: 0 18px 0 36px;
    position: relative;
    margin-top: 20px;
}


.main .detail .detail_right .eg h1{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(204,204,204);
}
.main .detail .detail_right .eg ul{
    width: 800px;
    height: 300px;
    display: flex;
}
.main .detail .detail_right .eg ul img{
    width: 150px;
    margin: 15px;
    
}
.main .detail .detail_right .eg ul li{
    position: relative;
}
.main .detail .detail_right .eg ul li::after{
    content: attr(tips);
    width: 150px;
    height: 36px;
    color: white;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    background-color: black;
    position: absolute;
    opacity: 0.6;
    left: 15px;
    top:150px
}


.main .bot{
    max-width: 1920px;
    margin: 0 auto;
    height: 200px;
    background-color: rgb(25,25,25);
}
.main .bot >div{
    width: 1121px;
    margin: 0 auto  ;
    
}

.main .bot .nav{
    width: 852px;
    /* margin-left: 104px; */
    /* display: inline-block; */
    /* width: 500px; */
    /* margin:0 167px 0 102px; */
}
.main .bot .nav ul{
    
    display: flex;
    /* justify-content: space-between; */
}
.main .bot .nav ul a{
    text-align: center;
    display: block;
    color: rgb(204,204,204);
    line-height: 102px;
    width: 76px;
}
.main .bot .nav ul li:hover a{
    background-color: rgb(38,38,38);
}
.main .bot img{
    margin: 20px 0;
    width: 150px;
}
.main .bot .nav span{
    border-left: 1px solid rgb(51,51,51);
    line-height: 102px;
}
.main .bot .info{
    color: rgb(139,139,139);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main .bot .info span{
    padding: 5px 0;
}